h1, h2{
    text-align: center;
}
a.gitbook-link{
    display:none !important;
}
.max-h-100 {
    max-height:100px;
}
.max-h-130 {
    max-height:130px;
}
.max-h-150 {
    max-height:150px;
}
.max-h-200 {
    max-height:200px;
}
.max-h-250 {
    max-height:250px;
}
.max-h-300 {
    max-height:300px;
}
.max-h-400 {
    max-height:400px;
}
.max-h-500 {
    max-height:500px;
}
.max-h-600 {
    max-height:600px;
}
.max-h-700 {
    max-height:700px;
}
.max-h-800 {
    max-height:800px;
}
.no-margin{
    margin: 0;
    padding: 0;
    text-indent: 0;
}
p {
    text-indent: 2em;
}
blockquote p{
    text-indent: 0em;
}
